<div class="container">
  <div class="row">
    <div class="col-sm-8">

    </div>
    <button class="btn btn-primary mr-3 my-3 col-sm-3" *ngIf="!add" (click)="addService()">Add Service</button>
    <div class="card" *ngIf="add" style="width: 100%;">
      <h5 class="card-title text-center py-2">Add Service</h5>

      <form>
        <div class="px-3 py-1">
          <label class="sr-only"> Title</label>
          <input type="text" name="username" [(ngModel)]="newservice.name" class="form-control py-2" placeholder="Title"
            required="" autofocus="">

        </div>
        <div class="px-3 py-1">
          <label class="sr-only"> Type</label>
          <input type="text" name="password" [(ngModel)]="newservice.type" class="form-control py-2" placeholder="Type"
            required="" autofocus="">
        </div>
        <div class="px-3 py-1">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea class="form-control py-2" name="description" [(ngModel)]="newservice.description"
            rows="3"></textarea>
        </div>
        <button class="btn my-2 btn-primary mr-3 " [disabled]="!newservice.name" style="float: right;"
          (click)="save()">Save</button>
        <button class="btn my-2 mt btn-danger mr-3 " style="float: right;" (click)="add = false">Close</button>

      </form>
    </div>
    <br>
    <hr>

    <div *ngFor="let service of services" class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{service.attributes.name}}</h5>
          <p class="card-text">{{service.attributes.type}}</p>
        </div>
      </div>
    </div>

  </div>
</div>