<div class="text-center" cz-shortcut-listen="true">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Service Selected</h3>

            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading"> {{name}}</h1>


            <p class="lead">
                <b>Type</b> : {{service.type}}
                <br>

                <b>Description</b> : {{service.description}}


            </p>
        </main>


    </div>

</div>