<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="user.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/home"> Services </a>
      </li>
      <li *ngIf="user.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/user"> User </a>
      </li>
      <li *ngIf="!user.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/auth">Login</a>
      </li>
      <li *ngIf="user.isAuthenticated()" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>

    </ul>


    <button *ngIf="commonService.service" (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0">Logout</button>

  </div>
</nav>


<div style="height: 100vh;">
  <ngb-toast [autohide]="false" style="float: right;" *ngIf="commonService.toast" class="bg-success text-light">
    {{commonService.toast.textOrTpl}}
  </ngb-toast>
  <div *ngIf="commonService.spinner" style="position: fixed;z-index: 10000; top: 50%; left: 50%;">
    <div class="spinner-border" style="width: 8rem; height: 8rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>