<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Demo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Services<span class="sr-only"></span></a>
      </li>
      <li *ngIf="commonService.user" class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>

      <li *ngIf="!commonService.user" class="nav-item">
        <a class="nav-link" routerLink="/auth">Login</a>
      </li>
    </ul>
    <button *ngIf="commonService.user" (click)="logout()" class="btn btn-outline-danger my-2 my-sm-0">Logout</button>

  </div>
</nav>

<div style="height: 100vh;">
  <ngb-toast [autohide]="false" style="float: right;" *ngIf="commonService.toast" class="bg-success text-light">
    {{commonService.toast.textOrTpl }}
  </ngb-toast>
  <div *ngIf="commonService.spinner" style="position: fixed;z-index: 10000; top: 40%; left: 45%;">
    <div class="spinner-border" style="width: 8rem; height: 8rem;" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>