<div class="container">
    <div class="text-center px=lg-5 py-lg-5 mx-lg-5 ">

        <form class="form-signin px-lg-4">

            <h1 class="h3 mb-3 font-weight-normal">Please Enter</h1>
            <div class="px-3 py-1">
                <label class="sr-only">Name</label>
                <input readonly type="text" name="inputEmail" [(ngModel)]="user.username" class="form-control py-2"
                    placeholder="Name" required="" autofocus="">
            </div>
            <div class="px-3 py-1 ">
                <label for="inputPassword" class="sr-only">Email</label>
                <input type="text" name="email " [(ngModel)]="user.email" class="form-control"
                    placeholder="Contact Email" required="">
            </div>
            <div class="px-3 py-1 ">
                <label class="sr-only">Number</label>
                <input type="text" name="inputPassword " [(ngModel)]="user.number" class="form-control"
                    placeholder="Contact" required="">
            </div>
            <button class="btn btn-lg btn-primary mr-3 " (click)="save()">Save</button>


        </form>
    </div>
</div>