<body class="text-center" cz-shortcut-listen="true">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Welcome TO our </h3>
                <h1> Demo Application</h1>
            </div>
        </header>
        <br>
        <button class="btn btn-lg btn-primary mr-3" routerLink="/home">Open</button>




    </div>





</body>