<div class="container">
    <div class="text-center px-5 py-5 mx-5 ">

        <form class="form-signin px-4">

            <h1 class="h3 mb-3 font-weight-normal">Please Sign In</h1>
            <div class="px-3 py-1">
                <label class="sr-only"> Username</label>
                <input type="text" name="username" [(ngModel)]="user.username" class="form-control py-2"
                    placeholder="Name" required="" autofocus="">

            </div>
            <div class="px-3 py-1">
                <label class="sr-only"> Password</label>
                <input type="text" name="password" [(ngModel)]="user.password" class="form-control py-2"
                    placeholder="Password" required="" autofocus="">
            </div><button class="btn btn-lg btn-primary mr-3 " (click)="signin()">Sign in</button>

        </form>
    </div>
</div>