<div class="container">
    <div class="text-center px=lg-5 py-lg-5 mx-lg-5 ">

        <form class="form-signin px-lg-4">

            <h1 class="h3 mb-3 font-weight-normal">Please Enter Details</h1>
            <div *ngIf="signuptoggle" class="px-3 py-1 ">
                <label for="inputPassword" class="sr-only">Name</label>
                <input type="text" name="Name " [(ngModel)]="user.name" class="form-control" placeholder="Name"
                    required="">
            </div>
            <div class="px-3 py-1">
                <label class="sr-only">User Name</label>
                <input type="text" name="inputEmail" [(ngModel)]="user.username" class="form-control py-2"
                    placeholder="User Name" required="" autofocus="">
            </div>
            <div class="px-3 py-1 ">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword " [(ngModel)]="user.password" class="form-control"
                    placeholder="Password" required="">

            </div>
            <div *ngIf="signuptoggle" class="px-3 py-1 ">
                <label for="inputPassword" class="sr-only">Email</label>
                <input type="text" name="email " [(ngModel)]="user.email" class="form-control"
                    placeholder="Contact Email" required="">
            </div>
            <div *ngIf="signuptoggle" class="px-3 py-1 ">
                <label *ngIf="signuptoggle" for="inputPassword" class="sr-only">Number</label>
                <input type="text" name="inputPassword " [(ngModel)]="user.number" class="form-control"
                    placeholder="Contact" required="">
            </div>
            <button *ngIf="!signuptoggle" class="btn btn-lg btn-primary mr-3 " (click)="signin()">Sign in</button>
            <button *ngIf="signuptoggle" class="btn btn-lg btn-primary mr-3 " (click)="signup()">Sign Up</button>
            <button *ngIf="!signuptoggle" class="btn btn-lg btn-secondary" (click)="signuptoggle = true">Signup
                Instead</button>
            <button *ngIf="signuptoggle" class="btn btn-lg btn-secondary" (click)="signuptoggle = false">Signin
                Instead</button>

        </form>
    </div>
</div>