<div class="container">
  <div class="row">
    <div *ngFor="let service of services" class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{service.name}}</h5>
          <p class="card-text">{{service.type}}</p>
          <a [routerLink]='"/book/"+service.name' class="btn btn-primary">Book Service</a>
        </div>
      </div>
    </div>

  </div>
</div>